* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.page-body {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-text: #283136;
  --basic-bg: #eeeeee;

  --secondary-text: #444444;
  --secondary-text-ligher: #666666;

  --red: #fb565a;
  --yellow: #efc849;
  --green: #00ca74;

  --icon: #a6a6a6;
  --bg-icon: #e1e1e1;
  --slider: #c1c1c1;
  --form-border: #d7dcde;
}

.container {
  margin: auto;
  max-width: 1100px;
}

.header {
  background: var(--basic-bg);
}
