* {
  box-sizing: border-box;
}

.page-body {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-text: #283136;
  --basic-bg: #eeeeee;

  --secondary-text: #444444;
  --secondary-text-ligher: #666666;

  --red: #fb565a;
  --yellow: #efc849;
  --green: #00ca74;

  --icon: #a6a6a6;
  --bg-icon: #e1e1e1;
  --slider: #c1c1c1;
  --form-border: #d7dcde;
  --filter-control: #4d4d4d;
  --sorting-button: #231f20;
  --active-page: #dbdbdb;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: auto;
  max-width: 1190px;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

.ul {
  padding-left: 50px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background: var(--basic-bg);
}

.blank-page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text);
}

.main {
  flex-grow: 1;
}

.main-blank {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: var(--basic-bg);
}

.nav {
  padding-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav li {
  margin-right: 45px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.page-link:hover {
  color: var(--red);
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.3;
}

.current-page-link {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--red);
}

.cart {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  cursor: pointer;
}

.cart:hover a{
  color: var(--red);
}

.cart-icon {
  margin-right: 25px;
  margin-bottom: 2px;
}

.slide {
  padding-top: 78px;
  padding-bottom: 80px;
}

.slide-1 {
  background: url("../img/slider/mobiles.jpg") no-repeat right;
  background-size: 760px;
}

.slide-2 {
  background: url("../img/slider/desktop.jpg") no-repeat right;
  background-size: 760px;
}

.slide-3 {
  background: url("../img/slider/ipad.jpg") no-repeat right;
  background-size: 760px;
}

.slide-text-large {
  max-width: 540px;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.slide-text {
  max-width: 416px;
  margin: 0;
  margin-top: 25px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 240px;
  height: 50px;
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--red);
  cursor: pointer;
}

.slide-button {
  margin-top: 38px;
}

.h1 {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 108px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* Основное содержимое */

/* Каталог */

.catalog {
  display: grid;
  grid-template-columns: 260px 760px;
  grid-column-gap: 140px;
  padding-top: 55px;
  padding-bottom: 60px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-item:nth-child(2) {
  margin-top: 54px;
}

.range-filter {
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-bg);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--form-border);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green);
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--icon);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  height: 38px;
  margin-left: 10px;
  text-align: center;
  color: var(--basic-text);
  border: none;
  border-radius: 5px;
  background: var(--basic-bg);
  font-family: inherit;
  font-size: inherit;
}

.filter-option {
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 36px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--filter-control);
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--filter-control);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--filter-control);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-button {
  margin-top: 28px;
  width: 100%;
  border: none;
  padding-top: 15px;
  padding-bottom: 17px;
  color: var(--basic-black);
  background: var(--basic-bg);
  border-radius: 3px;
}

/* Сортировка */

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.sorting-list {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-list li {
  margin-left: 25px;
}

.sorting-buttons {
  display: flex;
  align-items: center;
  margin-left: 42px;
}

.sorting-button {
  border: none;
  display: flex;
  width: 10px;
  height: 11px;
  background: transparent;
  background-image: url(../img/icons/sort-icon.svg);
}

.sorting-button-up {
  margin-left: 18px;
}

.sorting-button-down {
  transform: scale(-1);
}
.sorting-button-down path {
  fill: var(--sorting-button);
}

/* Результаты */

.results-list {
  margin: 0;
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.results-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}

.results-list li:hover {
  cursor: pointer;
  filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.25));
}

.results-list li::before {
  content: '';
  display: block;
  width: 100%;
  height: 40px;
  background-image: url(../img/results/browser.svg);
  opacity: 0.12;
}

.results-list li:hover::before{
  opacity: 1;
}

.results-template-description {
  position: absolute;
  bottom: 0px;
  padding: 26px 52px 44px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--secondary-text-ligher);
  text-align: center;
  background-color: var(--basic-bg);
  border-radius: 0px 0px 5px 5px;
}

.results-template-description h3 {
  margin: 0;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-text);
}

.results-template-button {
  margin-top: 32px;
  width: 200px;
}

.results-page-nav {
  margin: 0;
  margin-top: 54px;
  display: flex;
}

.results-page-nav li:not(:last-child) .results-page-nav-button {
  width: 50px;
  margin-right: 11px;
}

.results-page-nav-button {
  background-color: var(--basic-bg);
  color: var(--basic-black);
}

.results-page-nav li:first-child .results-page-nav-button {
  background-color: var(--basic-white);
  border: 3px solid var(--active-page);
}
/* Услуги */

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-bg);
}

.services-list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
}

.services-list li {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.services-list img {
  order: -1;
}

.services-list h3 {
  margin: 0;
  margin-top: 25px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services p {
  margin: 0;
  margin-top: 16px;
}

.services-button {
  margin-top: 32px;
  width: 160px;
}

/* О компании */

.about {
  padding-top: 39px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--basic-bg);
}

.about-left {
  max-width: 660px;
}

.about-text-large {
  margin: 0;
  margin-top: 34px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  margin: 0;
  margin-top: 32px;
}

.about-text-bold {
  margin: 0;
  margin-top: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-list li {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.about-list li::before {
  content: "";
  margin-right: 7px;
  width: 25px;
  height: 2px;
  background-color: red;
}

.about-data {
  max-width: 360px;
}

.about-data p {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.about-data dl {
  display: flex;
}

.about-data-pair {
  margin-right: 20px;
}

.about-data dt {
  display: flex;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.about-data small {
  margin-top: 3px;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.about-data dd {
  margin: 0;
}

/* Клиенты */

.clients {
  padding: 46px 42px 44px 32px;
  margin-bottom: 80px;
  border-bottom: 2px solid var(--basic-bg);
}

.clients ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients img {
  opacity: 0.2;
}

.clients li {
  display: flex;
  align-items: center;
}

.clients li:not(:last-child)::after {
  content: "";
  height: 52px;
  width: 2px;
  margin-left: 56px;
  background-color: var(--basic-bg);
}

/* Футер */

/* Контакты */

.contacts {
  padding-top: 54px;
  padding-bottom: 54px;
  background-image: url(../img/map.png);
}

.contacts-block {
  padding: 49px 50px 47px 50px;
  width: 319px;
  background-color: var(--basic-white);
}

.contacts-block h4 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-block address,
.contacts-block a {
  margin-top: 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--secondary-text-ligher);
}

.contacts-block a {
  display: block;
  margin-top: 18px;
}

.contacts-button {
  margin-top: 37px;
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 68px;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: var(--bg-icon);
}

.social-media-list {
  margin: 0;
  display: flex;
}

.social-media-list li {
  margin-right: 9px;
}

.social-media-text {
  width: 660px;
  margin-right: 100px;
}

.social-media-text-large {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-media-sale {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-text);
}

/* Модальное окно */

.modal {
  position: fixed;
  padding: 63px 100px 84px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal form {
  margin-top: 37px;
}

.modal-inputs-wrapper {
  display: flex;
}

.modal label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.modal-name {
  margin-right: 40px;
}

.modal-textarea {
  margin-top: 34px;
}

.modal input,
.modal textarea {
  margin-top: 9px;
  padding: 16px;
  height: 50px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.5;
  color: var(--secondary-text);
  border: 2px solid var(--form-border);
  border-radius: 3px;
}

.modal textarea {
  width: 100%;
  height: 118px;
  resize: none;
}

.modal-button {
  margin-top: 47px;
}

.close {
  position: absolute;
  top: 78px;
  right: 90px;
  border: none;
  background: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}
